@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
html, body{
    background:linear-gradient(#0000007f, #0000007f) ,url("./bg.jpg");
    background-attachment:fixed;
    background-position:center;
    background-size: cover;
    background-repeat:no-repeat;
    height:99vh;
    width:99%;
    overflow-x:hidden;
    font-family: 'Varela Round', sans-serif;
}
::-webkit-scrollbar{
    display:none;
}
.render{
    text-align:center;
    margin-top:35vh;
}

.link{
    font-size:1rem;
    text-decoration:none;
    color:#fff;
}

.link:focus, .link:hover {
    color: #c6e2ff;
    text-shadow: 0 0 2px rgba(202, 228, 225, 0.92), 0 0 10px rgba(202, 228, 225, 0.34), 0 0 4px rgba(30, 132, 242, 0.52), 0 0 7px rgba(30, 132, 242, 0.92), 0 0 11px rgba(30, 132, 242, 0.78), 0 0 16px rgba(30, 132, 242, 0.92);
}